.board__container {
  .board__gridItem__headerBar {
    padding-top: 36px !important;
  }
  .board__gridItem__sideBar {
    padding-top: 2rem !important;
  }
  .board__gridItem__mainBoard {
    padding-top: 2rem !important;
    padding-left: 2rem !important;
    .board__gridItem__jobBoardContainer {
      display: flex;
      flex-direction: row;
      margin-top: -2rem;
      width: calc(100% + 2rem);
      margin-left: -2rem;
    }
  }
}
@media (min-width: 1200px) {
  .board__gridItem__mainBoard {
    flex-basis: 100% !important;
    flex-grow: 0 !important;
    max-width: 100% !important;
  }
}

@media (min-width: 1280px) {
  .board__gridItem__mainBoard {
    flex-basis: 75% !important;
    flex-grow: 0 !important;
    max-width: 75% !important;
  }
}
