.board__searchHeaderContainer {
  display: flex;
  align-items: center;

  .board__searchIcon {
    margin-left: 1rem;
    color: rgba(34, 51, 84, 0.3);
  }
  .board__searchHeaderAutoCompleteContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 0%;
    padding: 1.1rem;

    .board__searchHeaderAutoComplete {
      // flex-wrap: wrap;
      width: 100%;
      display: block;
      .MuiChip-deleteIcon {
        color: rgb(255, 94, 123) !important;
      }
      .MuiAutocomplete-clearIndicator {
        color: rgb(255, 94, 123) !important;
        background-color: rgba(255, 25, 67, 0.1);
      }
      .MuiFormControl-root {
        .MuiInputLabel-root {
          &.Mui-focused {
            color: rgb(85, 105, 255);
            border-color: rgb(85, 105, 255);
          }
        }
        .MuiInputBase-root {
          border-radius: 10px;
        }
        .MuiOutlinedInput-root {
          &.Mui-focused {
            .MuiOutlinedInput-notchedOutline {
              border-color: rgb(85, 105, 255);
            }
          }
        }
      }
    }
  }
}

.board__searchHeaderAutoCompletePopper {
  .MuiAutocomplete-paper {
    overflow: hidden;
    .MuiAutocomplete-listbox {
      height: 100%;
      margin-right: -17px; /* Maximum width of scrollbar */
      padding-right: 0px; /* Maximum width of scrollbar */
      overflow-y: scroll;
      .MuiAutocomplete-option {
        &:hover {
          background-color: rgb(229, 232, 255);
        }
      }
    }
  }
}

.board__searchHeaderDivider {
  margin-left: 2rem;
  border-width: 1px;
}
@media (min-width: 0px) {
  .board__searchHeaderAutoCompleteContainer {
    flex-direction: column;
  }
  .board__searchIcon {
    display: none !important;
  }
}

@media (min-width: 960px) {
  .board__searchHeaderAutoCompleteContainer {
    flex-direction: row;
  }
  .board__searchIcon {
    display: block !important;
  }
}
