.header__container {
  display: flex;
  right: 0px;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 18px;
  max-height: 80px;
  position: fixed;
  z-index: 6;
  width: 100%;
  background-color: white;
  .header__menuGroup {
    justify-content: center;
    align-items: center;
    .header__menuGroup__searchButtonButton {
      padding: 8px;
      color: rgb(85, 105, 255);
      font-size: 1.3rem;
      width: 36px;
      height: 36px;
      border-radius: 12px;
      &:hover {
        background-color: rgba(85, 105, 255, 0.1);
      }
      .header__menuGroup__searchButtonIcon {
        width: 20px;
        height: 20px;
      }
    }
    .header__menuGroup__divider {
      margin-left: 18px;
    }
    .header__menuGroup_button {
      background-color: rgba(110, 117, 159, 0.1);
      color: rgb(88, 93, 127);
      border-radius: 10px;
      font-weight: bold;
      font-size: 0.8125rem;
      padding: 7px 18px;
      text-transform: none;
      &:hover {
        background-color: rgb(88, 93, 127);
        color: rgb(255, 255, 255);
      }
      &:nth-child(2) {
        margin-left: 0.5rem;
      }
      .MuiButton-endIcon {
        width: 18px;
        height: 18px;
        margin-right: -8px;
      }
    }
  }
}

.header__megaMenuDialogContainer {
  width: 764px;
  height: 427px;
  border-radius: 10px;
  min-width: 16px;
  min-height: 16px;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
}

@media (min-width: 1280px) {
  .header__container {
    left: 290px;
    width: auto;
  }
}

//Mega menu

.header__megaMenu__popOver {
  .MuiPopover-paper {
    border-radius: 1rem;
  }
  .header__megaMenu__header {
    padding: 1.3rem;
    background-color: rgba(34, 51, 84, 0.06);
    .header__megaMenu__header__title {
      font-weight: bold;
      font-size: 16px !important;
      line-height: 1.235;
      padding-bottom: 4.5px;
    }
    .header__megaMenu__header__des {
      font-size: 15px !important;
      color: rgba(34, 51, 84, 0.7);
    }
  }
  .header__megaMenu__menuListsContainer {
    display: flex;
    justify-content: stretch;
    -webkit-box-align: stretch;
    align-items: stretch;
    .header__megaMenu__menuList {
      padding: 1.5rem;
      .header__megaMenu__menuItem__title {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 700;
      }
      .header__megaMenu__menuItem__icon {
        font-size: 0.875rem;
        font-weight: bold;
      }
      .header__megaMenu__menuItem {
        padding: 0.5rem 1rem;
        min-width: 200px;
        border-radius: 1rem;
        margin-bottom: 0.4rem;

        &:hover .header__megaMenu__menuItem__title {
        }
      }
      .header__megaMenu__menuItem__disabled {
        font-weight: 700;
      }
      .header__megaMenu__menuItem__titleActive {
        font-weight: 700;
      }
      .header__megaMenu__menuItemGrey {
        color: rgba(34, 51, 84, 0.7);
        &:hover {
          background-color: rgba(34, 51, 84, 0.1);
          color: rgb(34, 51, 84);
        }
      }
      .header__megaMenu__menuItemGreyActive {
        background-color: rgba(34, 51, 84, 0.1);
        color: rgb(34, 51, 84);
      }
      .header__megaMenu__menuItemGreen {
        color: rgb(87, 202, 34);
        &:hover {
          background-color: rgba(87, 202, 34, 0.1);
          color: rgb(69, 161, 27);
        }
      }
      .header__megaMenu__menuItemGreenActive {
        background-color: rgba(87, 202, 34, 0.1);
        color: rgb(69, 161, 27);
      }
      .header__megaMenu__menuItemRed {
        color: rgb(255, 25, 67);
        &:hover {
          background-color: rgba(255, 25, 67, 0.1);
          color: rgb(204, 20, 53);
        }
      }
      .header__megaMenu__menuItemRedActive {
        background-color: rgba(255, 25, 67, 0.1);
        color: rgb(204, 20, 53);
      }
    }
  }
  .header__megaMenu__footer {
    margin: 18px;
    text-align: center;
    .MuiButtonBase-root {
      text-transform: none !important;
      color: rgb(85, 105, 255);
      font-weight: bold;
    }
  }
}

//Dashboard
.header__dashboard__popOver {
  .header__dashboard__popOverPaper {
    background-image: linear-gradient(
      127.55deg,
      rgb(20, 30, 48) 3.73%,
      rgb(36, 59, 85) 92.26%
    );
    padding: 1.5rem;
    border-radius: 1.2rem;
    .header__dashboard__header {
      .header__dashboard__header__title {
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        color: white;
      }
      .header__dashboard__header__des {
        text-align: center;
        font-size: 0.95rem;
        color: rgba(247, 241, 241, 0.623);
      }
    }
    .header__dashboard__grid {
      margin-top: 0.5rem;
      .header__dashboard__gridItem {
        width: 5.5rem;
        .header__dashboard__gridItemPaper {
          border-radius: 10px;
          .header__dashboard__buttonBase {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 18px;
            .header__dashboard__customIcon {
            }
            .header__dashboard__name {
              font-weight: bold;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

//Search
.header__menuGroup__search__searchDialog {
  max-height: calc(100vh - 64px);
  .MuiDialog-container {
    height: auto;
  }
  .header__menuGroup__search__searchPaper {
    max-width: 600px;
    width: calc(100% - 64px);
    border-radius: 10px;
    .header__menuGroup__search__inputContainer {
      .header__menuGroup__search__inputPaper {
        .header__menuGroup__search__inputSearchIcon {
          margin-left: 18px;
          padding: 0px;
        }
        .header__menuGroup__search__inputBase {
          padding: 18px;
          font-size: 1.125rem;
          margin-left: 0px;
        }
        .header__menuGroup__search__inputEscBtn {
          padding: 4.5px 9px;
          background-color: rgba(34, 51, 84, 0.1);
          border-radius: 10px;
          margin-right: 18px;
          // font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
          //   Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
          // line-height: 1.43;
          .header__menuGroup__search__inputEscBtnText {
            font-size: 14px;
            color: rgba(34, 51, 84, 0.7);
            font-weight: 700 !important;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

.header__menuGroup__search__result {
  display: block;
  height: 450px;
  .header__menuGroup__search__resultWrap {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .header__menuGroup__search__resultContainer {
      position: absolute;
      inset: 0px;
      overflow: scroll;
      margin-right: -17px;
      margin-bottom: -17px;
    }
  }
}

.header__menuGroup__search__resultGroup {
  padding: 9px 0px;
  &:first-of-type {
    padding: 0px 0px 9px;
  }
  .header__menuGroup__search__resultTitle {
    font-weight: bold;
    padding: 0px 0px 4.5px;
    font-size: 14px;
  }
  .header__menuGroup__search__itemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(34, 51, 84, 0.1);
    border-radius: 10px;
    margin: 9px 0;
    padding: 9px;
    cursor: pointer;

    .header__menuGroup__search__itemLeft {
      display: flex;
      gap: 1rem;
      color: rgb(34, 51, 84);
      .header__menuGroup__search__itemLeftIcon {
        color: rgba(34, 51, 84, 0.5);
        width: 20px;
        height: 20px;
      }
      .header__menuGroup__search__itemLeftText {
        font-size: 14px !important;
      }
    }
    &:hover {
      color: rgb(85, 105, 255) !important;
      background-color: rgba(85, 105, 255, 0.08) !important;
      border-color: rgba(85, 105, 255, 0.3) !important;
    }
    &:hover .header__menuGroup__search__itemLeft,
    &:hover .header__menuGroup__search__itemLeftIcon {
      color: rgb(85, 105, 255) !important;
    }
  }
}

.header__menuGroup__search__searchStartMenuText {
  display: flex;
  align-items: center;
  margin: 18px !important;
  padding: 9px;
  color: rgb(51, 194, 255);
  background-color: rgba(51, 194, 255, 0.1);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 400;
  line-height: 1.75;
  border-radius: 10px;
  font-size: 0.8125rem !important;
  .header__menuGroup__search__searchStartMenuTextIcon {
    width: 18px;
    height: 18px;
    margin-right: 7.2px;
  }
}
.header__menuGroup__search__resultStartMenu {
  display: block;
  height: 450px;
}

.header__menuGroup__search__endIconBtn {
  padding: 4px !important;
  width: 28px !important;
  height: 28px !important;
  border-radius: 8px !important;
}

.header__menuGroup__search__popularSearches__gridSubContainer {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
  .header__menuGroup__search__popularSearches__gridSubIcon {
    color: rgb(85, 105, 255);
    margin-right: 9px;
  }
  .header__menuGroup__search__popularSearches__gridSubText {
    font-size: 13px !important;
    font-weight: bold !important;
  }
}
.header__menuGroup__search__popularSearches__gridSubListItem {
  padding: 3.2px 0 3.2px 27px !important;
}

.header__menuGroup__search__popularSearches__gridSubItemText {
  font-size: 13px !important;
  color: rgb(85, 105, 255) !important;
}

.header__menuGroup__search__popularSearches__gridItem {
  padding-top: 27px !important;
  padding-left: 27px !important;
}

// Icon Group

.header__iconGroup {
  align-items: center;
  .header__iconGroup__iconButton {
    border-radius: 12px;
    min-width: 1rem;
    width: 36px;
    height: 36px;
    &:nth-child(2) {
      margin: 0px 9px;
    }
    &:nth-child(4),
    &:nth-child(5) {
      margin-left: 9px;
    }
  }
  .header__iconGroup__iconButtonNoti {
    color: rgb(85, 105, 255);
    background-color: rgba(85, 105, 255, 0.1);
    &:hover {
      background-color: rgba(85, 105, 255, 0.2);
    }
  }
  .header__iconGroup__iconButtonLang {
    background-color: rgba(255, 25, 67, 0.1);
    &:hover {
      background-color: rgba(255, 25, 67, 0.2);
    }
  }
  .header__iconGroup__iconButtonMessage {
    color: rgb(255, 163, 25);
    background-color: rgba(255, 163, 25, 0.1);
    &:hover {
      background-color: rgba(255, 163, 25, 0.2);
    }
  }
  .header__iconGroup__iconButtonAvatar {
    padding: 0;
    &:hover {
      background-color: blue;
    }
    .header__iconGroup__iconButtonAvatar_Avatar {
      width: 90%;
      height: 90%;
      border-radius: 12px;
      font-size: 14px;
    }
  }
  .header__iconGroup__iconButtonMenu {
    color: rgb(85, 105, 255);
    background-color: rgba(85, 105, 255, 0.1);
    &:hover {
      background-color: rgba(85, 105, 255, 0.2);
    }
  }
  @media screen and (min-width: 0px) {
    .header__iconGroup__iconButtonMenu {
      display: inline-flex;
    }
  }
  @media screen and (min-width: 1280px) {
    .header__iconGroup__iconButtonMenu {
      display: none;
    }
  }
}

// Icon Group

//Notification
.header__iconGroup__noti__popOver {
  .header__iconGroup__noti__popOverPaper {
    background-color: rgb(255, 255, 255);
    color: rgb(34, 51, 84);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 10px;
    padding: 0px;
    box-shadow: rgb(159 162 191 / 18%) 0px 9px 16px,
      rgb(159 162 191 / 32%) 0px 2px 2px;
    position: absolute;
    overflow: hidden auto;
    min-width: 16px;
    min-height: 16px;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    outline: 0px;
    .header__iconGroup__noti__header {
      min-width: 440px;
      max-width: 440px;
      padding: 1rem;
      .header__iconGroup__noti__headerHead {
        margin-bottom: 1rem;
        position: relative;
        border-radius: 10px;
        background: linear-gradient(
          100.66deg,
          rgb(67, 67, 67) 6.56%,
          rgb(0, 0, 0) 93.57%
        );
        .header__iconGroup__noti__headerHeadLayer1 {
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 6;
          height: 100%;
          width: 100%;
          border-radius: inherit;
          opacity: 0.3;
          background: linear-gradient(rgb(0, 176, 155), rgb(150, 201, 61));
        }
        .header__iconGroup__noti__headerHeadLayer2 {
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 5;
          filter: grayscale(80%);
          background-size: cover;
          height: 100%;
          width: 100%;
          border-radius: inherit;
          opacity: 0.2;
          background-image: url("https://tokyo.bloomui.com/static/images/placeholders/covers/1.jpg");
        }
        .header__iconGroup__noti__headerHeadLayer3 {
          padding-top: 27px;
          padding-bottom: 27px;
          position: relative;
          z-index: 7;
          .header__iconGroup__noti__headerHeadLayer3__title {
            color: white;
            margin: 0px;
            font-weight: 700;
            font-size: 16px;
            font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
              Helvetica, Arial, sans-serif, "Apple Color Emoji",
              "Segoe UI Emoji";
            line-height: 1.235;
            text-align: center;
            padding-bottom: 4.5px;
          }
          .header__iconGroup__noti__headerHeadLayer3__content {
            margin: 0px;
            font-weight: 400;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.7);
            font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
              Helvetica, Arial, sans-serif, "Apple Color Emoji",
              "Segoe UI Emoji";
            line-height: 1.57;
            text-align: center;
            span {
              color: rgb(87, 202, 34);
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

// Noti tab

.header__iconGroup__noti__tabs {
  display: flex;
  height: 38px;
  min-height: 38px !important;
  overflow: visible !important;

  .header__iconGroup__noti__tab {
    height: 38px;
    min-height: 38px !important;
    font-weight: bold;
    font-size: 0.75rem;
    &.Mui-selected {
      color: rgb(255, 255, 255);
      z-index: 5;
    }
  }
}

.header__iconGroup__noti__tabIndicator {
  &.MuiTabs-indicator {
    background-color: rgb(85, 105, 255);
    height: 38px;
    min-height: 38px;
    border-radius: 6px;
    border: 1px solid rgb(68, 84, 204);
    box-shadow: rgb(136 150 255) 0px 2px 10px;
  }
}

.header__iconGroup__noti__tabContentOverallWrap {
  height: 220px;
  .header__iconGroup__noti__tabContentWrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .header__iconGroup__noti__tabContentContainer {
      position: absolute;
      inset: 0px;
      overflow: scroll;
      margin-right: -17px;
      margin-bottom: -17px;
    }
  }
}

.header__iconGroup__noti__timelineContainer {
  padding: 1rem 2rem;
  margin: 1rem;
  .header__iconGroup__noti__timelineItem {
    &::before {
      content: none;
    }
    .header__iconGroup__noti__timelineContent {
      padding: 6px 16px 36px 27px;
      text-align: left;
      .header__iconGroup__noti__timelineContentText {
        font-size: 14px !important;
        font-weight: bold;
      }
      .header__iconGroup__noti__timelineContentSubText {
        font-size: 14px !important;
        color: rgba(34, 51, 84, 0.7);
      }
      .header__iconGroup__noti__timelineContentAvatarGroup {
        align-items: flex-start;
        margin-top: 9px;
        display: flex;
      }
      .header__iconGroup__noti__timelineContentImageGroup {
        align-items: flex-start;
        margin-top: 18px;
        display: flex;
        .header__iconGroup__noti__timelineContentImageGroupCard {
          max-width: 90;
          max-height: 64;
          border-radius: 10px;
          margin-right: 1rem;
        }
      }
      .header__iconGroup__noti__timelineContentButtonGroup {
        display: flex;
        margin-top: 9px;
        align-items: flex-start;
        .header__iconGroup__noti__timelineContentButtonGroupButton {
          color: rgb(255, 255, 255);
          background-color: rgb(85, 105, 255);
          font-weight: bold;
          text-transform: none;
          border-radius: 10px;
          padding: 6px 16px;
          width: auto;
        }
      }
    }
    .header__iconGroup__noti__timelineSeperator {
      position: relative;
      flex: 0 1 0%;
      flex-direction: column;
      .header__iconGroup__noti__timelineDot {
        position: absolute;
        top: -9px;
        z-index: 5;
      }
      .header__iconGroup__noti__timelineConnector {
        width: 2px;
        flex-grow: 1;
        position: absolute;
        height: 100%;
        top: 0px;
        border-radius: 50px;
        background-color: rgba(34, 51, 84, 0.1);
      }
    }
  }
}

// icon Group noti tasks

.header__iconGroup__noti__taskTitle {
  color: rgba(34, 51, 84, 0.5);
  font-size: 13px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  padding-bottom: 1rem;
  line-height: 1.5;
}

.header__iconGroup__noti__taskTitleSecond {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.header__iconGroup__noti__taskPaper {
  padding: 1rem;
  border-radius: 10px !important;
  a {
    color: black;
  }
  position: relative;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  .header__iconGroup__noti__taskPaperBeforeIcon {
    height: 60%;
    width: 6px;
    left: -3px;
    border-radius: 50px;
    position: absolute;
    top: 20%;
    background: rgb(85, 105, 255);
  }
  .header__iconGroup__noti__taskPaperLink {
    font-size: 16px;

    line-height: 1.235;
    font-weight: normal;
    text-decoration: none;
  }
  .header__iconGroup__noti__taskPaper__detail {
    display: flex;

    .header__iconGroup__noti__taskPaper__detail__onHoldBtn {
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: bold;
      border-radius: 10px;
      color: white;
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: rgb(85, 105, 255);
    }
    span {
      color: red;
      display: flex;
      align-items: center;
    }
    .header__iconGroup__noti__detail__avatarGroup {
      text-align: center;
      .header__iconGroup__noti__detail__avatar {
      }
    }
  }
}

.header__iconGroup__noti__detail__avatar__text {
  margin: 0px 0px 4px !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 1.235 !important;
}
.header__iconGroup__noti__detail__avatar__subText {
  margin: 0px 0px 4px !important;
  font-size: 15px !important;
  line-height: 1.235 !important;
  color: rgba(34, 51, 84, 0.7);
}
// iconGroup Lang

.header__iconGroup__lang__popOver {
  border-radius: 10px;
  .header__iconGroup__lang__popOverPaper {
    border-radius: 10px;
    .header__iconGroup__lang {
      max-width: 240px;
      .header__iconGroup__lang__tittle {
        padding: 18px 18px 0;
        font-size: 14px;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        line-height: 1.43;
        font-weight: 700;
        color: rgb(110, 117, 159);
      }
    }
  }
}

.header__iconGroup__lang__menuList {
  padding: 18px !important;
  .header__iconGroup__lang__menuItem {
    padding: 0.5rem 1rem;
    min-width: 200px;
    border-radius: 1rem;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    .header__iconGroup__lang__menuItem__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.5rem;
    }
    .header__iconGroup__lang__menuItem__title {
      font-size: 14px !important;
    }
  }
  .header__iconGroup__lang__menuItemGrey {
    color: rgb(34, 51, 84);
  }
  .header__iconGroup__lang__menuItemGreyActive {
    background-color: rgba(34, 51, 84, 0.1);
  }
}

//Message

.header__iconGroup__message__container {
  min-width: 360px;
  max-width: 360px;
  .header__iconGroup__message__headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7rem;
    background-color: rgba(34, 51, 84, 0.07);
    .header__iconGroup__message__headerButton {
      padding: 7px 12px;
      color: rgb(85, 105, 255);
      font-weight: bold;
      border-radius: 10px;
      font-size: 0.75rem;
      line-height: 1.5;
      .header__iconGroup__message__headerButtonIcon {
        width: 17px;
        height: 17px;
        margin-right: 0.5rem;
      }
      &:hover {
        background: rgba(85, 105, 255, 0.1);
        text-decoration: none;
      }
    }
  }
  .header__iconGroup__message__searchContainer {
    .header__iconGroup__message__searchFormControl {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding: 0.2rem 0rem;
      .header__iconGroup__message__searchIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.54);
      }
      .header__iconGroup__message__searchInputbase {
        padding-top: 0.7rem;
        padding-bottom: 0.5rem;
        .MuiInputBase-input {
          padding: 0;
          &::placeholder {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
  .header__iconGroup__message__displayContainer {
    padding: 0;
    height: 200px;
    .header__iconGroup__message__list {
      padding: 0;
      .header__iconGroup__message__listItem {
        padding: 0.6rem 1rem;
      }
      .header__iconGroup__message__listItemTitle {
        color: rgb(34, 51, 84);
        font-weight: bold;
        font-size: 0.9rem;
      }
      .header__iconGroup__message__listItemOnlineStatus {
        color: rgb(87, 202, 34);
        font-size: 0.75rem;
        .header__iconGroup__message__listItemOnlineStatusCircle {
          background-color: rgb(87, 202, 34);
          border-radius: 22px;
          width: 10px;
          height: 10px;
          display: inline-block;
          margin-right: 4.5px;
        }
      }
      .header__iconGroup__message__listItemChatButton {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(110, 117, 159);
        font-size: 0.7rem;
        font-weight: bold;
        background-color: rgba(110, 117, 159, 0.1);
        border-radius: 10px;
        &:hover {
          background-color: rgb(110, 117, 159);
          color: rgb(255, 255, 255);
        }
      }
    }
  }
  .header__iconGroup__message__viewMoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    .header__iconGroup__message__viewMoreButton {
      background-color: rgb(85, 105, 255);
      color: white;
      text-transform: none;
      font-weight: bold;
      border-radius: 10px;
      font-size: 0.8125rem;
    }
  }
}

// Info

.header__iconGroup__info__popOver {
  .header__iconGroup__info__popOverPaper {
    .header__iconGroup__info {
      display: flex;
      background: rgba(34, 51, 84, 0.08);
      padding: 18px;
      min-width: 210px;
      .header__iconGroup__info__ava {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        margin-bottom: 0.5rem;
      }
      .header__iconGroup__info__nameAndTitle {
        text-align: left;
        padding-left: 0.7rem;
        .header__iconGroup__info__name {
          font-size: 14px;
          line-height: 1.5;
          font-weight: 700;
          color: rgb(110, 117, 159);
        }
        .header__iconGroup__info__title {
          margin: 0px;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.43;
          color: rgb(146, 151, 183);
        }
      }
    }
    .header__iconGroup__info__menuList {
      padding: 18px;
      .header__iconGroup__info__menuListItem {
        border-radius: 50px;
        padding: 9px 9px 9px 22.5px;
        min-width: 200px;
        margin-bottom: 2px;
        position: relative;
        color: rgb(34, 51, 84);
        display: flex;
        align-items: center;
        font-size: 1rem;
        &:hover {
          color: rgb(36, 66, 175);
          background-color: rgba(36, 66, 175, 0.1);
        }
        .header__iconGroup__info__menuListItemText {
          font-weight: 700;
          font-size: 14px;
        }
        .header__iconGroup__info__menuListItemIcon {
          font-size: 0.85rem;
        }
      }
    }
  }
}

.header__iconGroup__info__chartDes {
  display: flex;
  flex-direction: row;
  padding: 9px 18px 4.5px;
  .header__iconGroup__info__chartDesContent {
    margin-left: 0.2rem;
    font-size: 13px;
    .header__iconGroup__info__chartPrimaryText {
      font-weight: 700;
      font-size: 25px;
      line-height: 1.4;
      color: rgb(34, 51, 84);
    }
    .header__iconGroup__info__chartSecondaryText {
      color: rgba(34, 51, 84, 0.7);
    }
  }
}

.header__iconGroup__info__chart {
  min-height: 60px;
}

//icon Group footer

.header__iconGroup__noti__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  .header__iconGroup__noti__footerBtn {
    text-transform: none;
    color: rgb(85, 105, 255);
    border: 2px solid rgb(85, 105, 255);
    padding: 4.5px 18px;
    border-radius: 100px;
    font-weight: bold;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    &:hover {
      background-color: rgb(85, 105, 255);
      color: white;
      padding-left: 27px;
      padding-right: 27px;
    }
  }
}
